@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    color: #131318;
}

.carousel-arrow:hover path{
    stroke: black;
}